.services {
  border: 6px solid #1b3f62;
  border-top: none;
  padding: 0 93px 60px 93px;
  &__content {
    display: flex;
    justify-content: space-between;
    &-block {
      align-items: center;
      width: 294px;
      text-align: center;
      img {
        width: 91px;
        height: 91px;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        margin-top: 13px;
      }
    }
  }
}
